[train_info]
model_name = SSWAE_HSIC_MNIST
train_data = MNIST
train_data_label = True

z_sampler = gaus
z_dim = 8
y_sampler = multinomial
y_dim = 10

# labeled_class = 0,1,2,3,4,5,6,7,8,9
# unlabeled_class = 
# test_class = 
portion = 1.0

encoder_pretrain = True
encoder_pretrain_step = 10

lr = 5e-4
beta1 = 0.5
lr_adv = 2e-4
beta1_adv = 0.5
lambda = 10.0
lambda_mmd = 10.0
lambda_hsic = 10.0

lr_schedule = manual
validate = True
histogram = True

batch_size = 100
epoch = 100
replace = False
# iter_per_epoch = None
save_best = False

[path_info]
data_home = /home/reddragon/data/MNIST
tb_logs = ../tb_logs/sswae_hsic-pretrain_f
save_path = ./weight.pt
save_state = 
save_img_path = 